<!--<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="assests/css/style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>-->
        <ul class="contact-buttons">
            <li>
                <a> 
                    <div class="icon-container text-center" style="">
                        <i class="fas fa-map-marker-alt fa-2x"></i> 
                    </div>
                    <p><span>Address:</span><br> 737 Walker Road Great Falls, VA 22066</p>
                </a>
            </li>
            <li>
                <a> 
                    <div class="icon-container text-center" style="">
                        <i class="fas fa-phone-alt fa-2x"></i> 
                    </div>
                    <p><span>Phone:</span><br>443 333 4100</p>
                </a>
            </li>
            <li>
                <a> 
                    <div class="icon-container text-center" style="">
                        <i class="fas fa-envelope fa-2x"></i>
                    </div>
                    <p><span>Email:</span><br>info@blulogix.com</p>
                </a>
            </li>
            <li>
                <a> 
                    <div class="icon-container text-center" style="">
                        <i class="fas fa-fax fa-2x"></i> 
                    </div>
                    <p><span>Fax:</span><br> 443 333 4101</p>
                </a>
            </li>
        </ul>
        <h3 class="title">Contact Us </h3>
        <div class="row">
            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Your message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">First name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Last name</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Your email</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn contact-form-button ">Submit</button>
                </form>
            </div>
        </div>
<!--    </body>
</html>-->
